/*
Theme Name: Shop Child Theme
Theme URI: http://groupbuyingsite.com
Description: This theme will be identical to the Shop Theme until you add modifications.
Author: Group Buying Site
Author URI: http://groupbuyingsite.com
Version: 1.0
template: shop-theme
*/

/* Do not delete this @import unless you're planning on restyling everything from scratch. */
@import url("../shop-theme/style.css");
/* @import end */
/* 
Add your custom styles below:
*/

